    <!DOCTYPE html>
        <head>
            <meta charset="utf-8">
            <link rel="stylesheet" href="./css/home.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
            <title>Progetto Libreria</title>
        </head>
        <body>
            <div id="container">
                <div id="container_list">
                    <h1>Project: Library</h1>
                    <a href="/listAuthors">List of Authors</a> 
                    <a href="/listBooks">List of Books</a>
                    <a href="/listEmployees">List of Employees</a>
                </div>
            </div>
            
        </body>
    </html> 
