<!DOCTYPE html>
    <html lang="it">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/loginPage.css">
        <title>Login</title>
    </head>
    <body>
        <div class="container">
            <h1>LOGIN</h1>
            
            <form action="/login" method="post">
                <label for="username">Username</label>
                <input name="username" type="password" id="username" placeholder="username">

                <label for="password">Password</label>
                <input name="password" type="password" id="password" placeholder="password">
                
                <input type="submit" value="Accedi"> 
            </form>
        </div>
        
    </body>
</html>